{
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "immutablejs"
  ],
  "rules": {
    "immutablejs/no-native-map-set": "error",
    "new-cap": ["error", { "capIsNewExceptions": ["Map", "Set"] }]
  }
}
